#myDiv{
    background-image:url("../../Assets/Background.svg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#camView{
min-height: 490px;
max-height: 490px;
background-color: #133275;
min-width:645px;
padding-top: 0.2%;
border-radius: 15px;
margin-bottom: 15%;
position:absolute;
}

.buttons
{
  padding-top: 1%;
  position: flex;
  margin-top:15%;
  position:absolute;
}

