.login-div{
    background-image:url("../../Assets/Background.svg");
    background-position-x: right;
    background-position-y: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.main-logo{
    width: 20%;
    margin-left: 2em;
    margin-top: 2em;
}

.login-card{
    display: flex;
    flex-direction: column;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    width: 50%;
}

.form-header{
    font-weight: 350;
    font-size: 45px;
    color: black;
    margin-right: 9.3em;
}

.username-div{
    margin-top: 0.1em;
}

.username-label{
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-right: 22em;
}

.input-field{
    background: #E8E6E2;
    border-radius: 5px;
    border: none;
    width: 60%;
    height: 2em;
    margin-right: 10.3em;
}

.password-div{
    margin-top: 0.5em;
}

.password-label{
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-right: 22em;
}

.forgot-password{
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-right: 18.5em;
}

.button-div{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.login-button{
    background-color: #688C40;
    border: none;
    border-radius: 5px;
    color: black;
    width: 20%;
    height: 3.5em;
    margin-left: 3.8em;
    font-size: 1em;
    font-weight: 200;
}

.register-button{
    background-color: #688C40;
    border: none;
    border-radius: 5px;
    color: black;
    width: 20%;
    height: 3.5em;
    margin-left: 7.8em;
    font-size: 1em;
    font-weight: 200;
}
